body{
    width: 70%;
    position: relative;
    margin: 0 auto;
}
h1,h2,h3{
    font-family: Verdana, Geneva, sans-serif;
    
    font-size: 32px;
    margin: 1.5em 0 0 0;
    font-style: italic;
}
#vek{
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1,5em;
}

#osnov{
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1,5em;
}

#etim {
    font-family: Verdana, Geneva, sans-serif;
    padding-top: 1,5em;
}
figcaption{
    font-style: italic;
    
}
figure{
    float: right;
    margin: 7px 7px 7px 0;
    clear: right;
     float: right;

}
